@import "./color_schemes/light";

$green1: #234b4c;
$green2: #2b7869;
$green3: #3CA893;
$blue1: #c1faff;
$blue2: #1d3a42;

$link-color: $green3;

h1 {
	margin-bottom: 25px;
	font-color: #F00;
}

main img:not(.mini) {
	border: 1px solid #CCC;
	/* box-shadow: 5px 6px 7px 0px #BBB; */
	/* box-shadow: 0px 0px 8px 3px #939393; */
	margin: 12px 5px 5px 10px;
}


main img.mini {
	/* border: 1px solid #F00; */
	margin: 0px 0px 0px 0px;
}